@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  width: 90%;
  margin: 1rem 2rem 2rem;
}
body .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
}
body .header .nav {
  display: none;
}
body .header .header-logo {
  margin-left: -1rem;
}
body .header .header-logo .icon {
  max-width: 8rem;
  max-height: 8rem;
}
body .header .header-logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
body .header .club-name {
  font-size: 1.2rem;
  font-weight: 700;
  color: #01aa9d;
}
body #mobile-nav {
  background-color: #01aa9d;
  margin: Opx auto;
  display: none;
}
body #mobile-nav .nav {
  width: 100%;
  padding: 20px 0px;
}
body #mobile-nav .nav .ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  row-gap: 5px;
}
body #mobile-nav .nav .ul li {
  width: 100%;
  padding: 10px;
}
body #mobile-nav .nav .ul li a {
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
body #mobile-nav .nav .ul li a:hover {
  color: black;
}
body #mobile-nav.active {
  display: block;
}
body .mobile-nav-btn {
  cursor: pointer;
}
body .home .section {
  margin-top: 3rem;
}
body .home .section p.bullet {
  margin-top: 0.7rem;
  margin-left: 1rem;
  color: #7c7c7c;
  text-align: justify;
  font-size: 0.9rem;
}
body .home .section p.bullet a {
  color: #7c7c7c;
  text-decoration: none;
  outline: none;
}
body .home .section .imgdeco {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
body .home .section .imgdeco img {
  max-width: 7rem;
}
body .home .section .ul2 {
  margin-left: 2rem;
  font-size: 0.9rem;
  color: #7c7c7c;
}
body .home .h1 {
  font-size: 40px;
  color: #555555;
  font-weight: 900;
  margin-bottom: 0.7rem;
}
body .home .h2 {
  font-size: 20px;
  color: #555555;
  font-weight: 900;
  margin-top: 2rem;
}
body .home .h3 {
  margin-top: 2rem;
  font-weight: 900;
  color: #555555;
}
body .home form .form-group {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
body .home form .form-group .label {
  color: #7c7c7c;
}
body .home form .form-group input {
  background: #ffffff;
  padding: 10px 15px;
  width: 230px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
body .home form .form-group button {
  background: #01aa9d;
  color: #ffffff;
  padding: 15px;
  border: 0;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1rem;
}
body .home .social {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}
body .home .social .ul {
  list-style-type: none;
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
  justify-content: left;
}
body .home .social .ul li a svg {
  width: 30px;
  fill: #dedfe7;
}
body .footer {
  text-align: center;
  margin-top: 2rem;
}
body .footer .fly {
  animation: 2s anim-lineUp ease-out infinite;
  color: #e27474;
}
body .footer .copyright {
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  color: #7c7c7c;
}
body .footer .copyright img {
  max-width: 8rem;
  padding-left: 0.5rem;
  vertical-align: center;
}
@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@media only screen and (min-width: 767px) {
  body {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  body .header .nav {
    display: block;
  }
  body .header .nav .ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    -moz-column-gap: 18px;
         column-gap: 18px;
  }
  body .header .nav .ul li a {
    text-decoration: none;
    color: #7c7c7c;
    font-weight: 700;
  }
  body .header .nav .ul li:last-of-type a {
    background: #01aa9d;
    color: #ffffff;
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1rem;
  }
  body .mobile-nav-btn {
    display: none;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}/*# sourceMappingURL=style.css.map */